
.ion-reservations{
	content: url('../img/icons/Reservations.svg') !important;
    width: 20px !important;
    height: 20px !important;
    margin: 14px auto !important;
}
.ion-recent-ticket{
	content: url('../img/icons/RecentTickets.svg') !important;
    width: 20px !important;
    height: 20px !important;
    margin: 14px auto !important;
}
.ion-new-ticket{
	content: url('../img/icons/NewTicket.svg') !important;
    width: 20px !important;
    height: 20px !important;
    margin: 14px auto !important;
}

.launch-view
{
	background-image: url('../img/Login_BG_2208.jpg');
	background-size: cover;
	i{
        width: 21px;
        height: 21px;
    }
	.ion-ios-printer-white{
		content: url('../img/icons/Printer_White.svg') !important;
	}
	.ion-bluetooth-white{
		content: url('../img/icons/Bluetooth_White.svg') !important;
	}
	.ion-logo-white{
		content: url('../img/icons/MR_LogoMark.svg') !important;
		width: 75px;
        height: 75px;
	}
}

