.reservations-view
{
	.hor-padding-16 {
    .row {
        padding-left: 0px;
        padding-right:0px;
    }
}
// vert-padding-4 {
//     .row {
//         padding-top: 0px;
//         padding-bottom:0px;
//     }
// }
	.search-plate-item{
		// padding:5px !important;
		padding-top: 0;
	}
	.uppercaseVal{
        text-transform: uppercase;
    }
	.search-plate-header{
		background-color: #ececec;
	}
  	.ion-search-purple{
		content: url('../img/icons/search_purple.svg') !important;
  	}
	.search-plate{
		position: relative;
    	left: 10px;
	}

	// the default list adds some margin bottom. Not needed for the search bar -copu
  .list.list-searchbar {
		margin-bottom:0px;
		// float: left;
		// display: block;
		// width: 100%;
		// background-color:$background-color;
		// position: fixed;
		// z-index: 9999;
	}
	.searchbar-div{
		margin:13px 0;
		i{
        width: 21px;
        height: 21px;
  	}
	}
	.search-icon{
		position: absolute;
    left: 0px;
	}
	.select-zone{
		height: 44px;
	} 
  .item-input {
		border-bottom:1px solid #E0E7EA;
	}
	.items-found {
		background-color: #E0E7EA;
		width: 100%;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: $small-text;
		display: block;
	}

	.list.list-searchresults {
		box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 0px 2px rgba(0,0,0,0.24);
		display: block;
	}
	.list-searchresults span {
		font-size: $small-text;
	}
	.card 
	{
		margin:0px;
		box-shadow: none;


		.license-plate span {
			font-size: $bold-sub-heading;
			font-weight: 900;
		}

		.expires-expired {
			text-align:right;
			line-height: 26px;
		}
		.badge {
			display:block;
			position: relative;
			top:0px;
			right:0px;
			float:right;
		}

		// END CARD
	}
	
	.state-city-container {
		width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
		.state {
			color: $stable;
		}
	}
	
}