.launch_settings-view {

  .item-icon-left {
    span {
      padding-left:16px;
    }
    i {
      font-size: 24px;
      color:$stable;
    }
}
  .radio-content .item-content {
    padding:0 49px 0 0;
  }
  .item-radio .radio-icon {
      position:absolute;
      top: 0px;
      right: 0px;
      padding:0px;
      line-height:.1em;
    }
    .item-radio input:checked + .radio-content .item-content {
      background-color:transparent;
    }
    // Stage for Common
  ion-list ion-item span {
    font-size: $list-font-size;
  }
}