.ticket-view{
    .ticket-form-search{
        width:100%;
    }
    .ticket-form-content{
        top:50px;
    }
    .ion-barcode-dark{
        content: url('../img/icons/Barcode_Dark.svg') !important;
        width: 110px;
        height: 110px;
    }
    .ion-scan-purple{
        content: url('../img/icons/Scan_Purple.svg') !important;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0px;
        bottom: 10px;
    }
    .ion-close-dark{
        content: url('../img/icons/close_dark.svg') !important;
        height: 20px;
        float: right;
        position: initial;
    }
    .violation-image{
        i{
        content: url(../img/icons/close_white.svg) !important;
        height: 20px;
        float: right;
        position: relative;
        right: 25px;
        top: 5px;
        background: #4c3891;
        border-radius: 50%;
        }
    }
    .ion-add{
        content: url('../img/icons/add.svg') !important;
        position: absolute;
        right: 0px;
        background-repeat: no-repeat;
        height: 14px;
    }
    .ion-search-purple{
		content: url('../img/icons/search_purple.svg') !important;
        padding: 24px;
        left: 0px;
  	}
    .ion-logo-plate{
        content: url('../img/icons/Plate.svg') !important;
    }
    .license-plate-container {
        background-color:white;
        padding:16px 0 0;
        margin-bottom: -10px;
    }
    .license-plate-card{
        background-image: url('../img/icons/Plate.svg');
        //background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 89px;
        p{
            font-size: $small-heading;
            padding : 40px 14px 14px 14px;
            line-height: 1.9em;

        }
    }
    .ticket-images{
        width: 120px;
        height: 120px;
        padding: 5px;
    }
    .images-list{
        max-height: 120px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        .image{
            display: inline-block;
            img{
                height: 120px;
                width: 120px;
            }
        }
    }
    .list {
        .row .col {
            padding-left: 0px;
        }
        .row .col-last {
            padding-left: 5px;
        }
    }
    .item-input {
        border-bottom:2px solid $stable-accent;
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
        font-size: $list-font-size;
        color: $stable;
        input {
            font-size: $list-font-size;
        }
        &.violation-comments {
            padding-top:34px;
        }
        // &.ng-invalid {
        //     border-bottom:2px solid $assertive;
        // }
    }
    .item-toggle {
        padding-left: 0px;
        font-size: $list-font-size;
    }
    .input-label {
    color: $stable;
    }
    input.fine-amount {
        background-color: transparent;
        float: right;
        text-align: right;
        width: 100%;
        padding: 0px;
        
    }
}
.recent-ticket-view{
    .item.row {
        padding: 16px 0;
    }
    .row {
        padding-right:0px;
        padding-left:0px;    
    }
    .col {
        padding-top:0px;
        padding-bottom:0px;
    }
    //background: #f1f5f7;
    .text-count{
        float:right;
    }
    .ion-close-dark{
        content: url('../img/icons/close_dark.svg') !important;
        height: 20px;
    }
    .ticket-details-img{
        background-size: cover;
        width: 100%;
        height: 150px;
        background-image: url('../img/ticket_details.jpg') !important;
    }
    
    .recent-ticket-img-container{
        background-size: cover;
        background-position:center center;
        border-radius: 50%;
        position: relative;
        width: 20%;
        height: 0;
        padding-bottom: 25%;
    }
    .badge {
        top:15px;
    }
    .small-heading {
        float: left;
        width: 55%;
        clear: both;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .issued-at {
        float: left;
        width: 100%;
        margin-bottom:10px;
    }
    .issued-at:before {
        color: $calm;
    }
    .ticket-violations{
        color: $stable;
        background: $stable-accent;
        margin-top: 6px;
        padding-left: 5px;
        display: inline;
        float: left;
        padding-right: 5px;
        clear: both;
        border-radius: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%
    }
    .ticket-violations span {
        margin-right: 10px;
    }
    .more-details-icon{
        font-size: 25px;
        float: right;
        color: #000;
    }
    .arrow-button-right button {
        position: absolute;
        top: 13px;
        right:0px;
    }
}