<ion-view translate-namespace="NEW_TICKET" view-title="{{ 'NEW_TICKET.VIEW_TITLE' | translate }}" ng-controller="TicketCtrl as ticketVm"
    class="ticket-view">
    <ion-nav-buttons side="right">
        <button ng-hide="true" ui-sref="tab.reservations" class="button button-icon button-clear">
            <i class="icon ion-camera-icon"></i>
        </button>
        <button ng-click="ticketVm.openPopover($event)" class="button button-icon button-clear">
			<i class="icon ion-more-details"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form name="ticketVm.ticketForm" role="form" novalidate>
            <div class="license-plate-container">
                <div ng-if="ticketVm.ticketFormDetails.vehicle.licensePlate.length<=11 || ticketVm.ticketFormDetails.vehicle.licensePlate.length === -1 || ticketVm.ticketForm.licensePlate.$error.required" class="license-plate-card">
                    <p class="text-center dark uppercaseVal"><b>{{ticketVm.ticketFormDetails.vehicle.licensePlate}}</b></p>
                </div>
                <div class="text-center" ng-show="ticketVm.ticketFormDetails.vehicle.licensePlate.length>11">
                    <i class="icon ion-barcode-dark"></i>
                </div>
                <div ng-if="ticketVm.ticketFormDetails.vehicle.licensePlate">
                    <div class="item-text-wrap text-center small-heading padding-top-16" ng-show="(ticketVm.ticketData.end | amDifference : null : 'minutes') < 0">
                        <span class="assertive">Expired</span> <span am-time-ago="ticketVm.ticketData.end"></span>
                    </div>
                    <div class="item-text-wrap text-center" ng-show="(ticketVm.ticketData.end | amDifference : null : 'minutes') > 0">
                        <span class="royal">Expires</span> <b am-time-ago="ticketVm.ticketData.end"></b>
                    </div>
                    <span class="small-text text-center block stable padding-top-8"><span class="icon-left ion-ios-location state ng-binding royal"></span>{{ticketVm.ticketFormDetails.zone.label}}
                    {{ticketVm.ticketFormDetails.vehicle.licenseState}} - Zone #</span>
                </div>
            </div>
            <div class="ripped-paper"></div>
            <div class="list hor-padding-16">
                <!-- LICENSE PLATE -->
                <label class="item item-input item-floating-label" ng-class="{'input-error': (ticketVm.ticketForm.$submitted || ticketVm.ticketForm.licensePlate.$dirty) && ticketVm.ticketForm.licensePlate.$invalid}">
                    <span class="input-label" translate=".LS_PLATE_PHOLD">License Plate</span>
                    <input type="text" name="licensePlate" ng-class="{uppercaseVal:ticketVm.ticketFormDetails.vehicle.licensePlate}" placeholder="{{ 'NEW_TICKET.LS_PLATE_PHOLD' | translate }}" ng-model="ticketVm.ticketFormDetails.vehicle.licensePlate" required />
                    <i ng-click="ticketVm.openScanner()" ng-show="ticketVm.ticketFormDetails.vehicle.licensePlate.length>11 || ticketVm.ticketForm.licensePlate.$error.required" class="icon ion-scan-purple"></i>
                </label>
                <span ng-show="(ticketVm.ticketForm.$submitted || ticketVm.ticketForm.licensePlate.$dirty) && ticketVm.ticketForm.licensePlate.$invalid"
                    class="assertive small-text padding-top-4 block" translate=".VALID.LPLATE_REQ">License Plate required</span>

                <div class="item item-toggle item-text-wrap">
                    <span translate=".USE_BARCODE">Use Barcode Scanner</span>
                    <label class="toggle toggle-royal text-wrap">
                        <input ng-model="ticketVm.scanner" ng-change="ticketVm.toggleScanner(ticketVm.scanner)" type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                {{$state.current.name}}
                <!-- STATE -->
                <label class="item item-input item-select" name="state" ng-model="ticketVm.ticketFormDetails.vehicle.licenseState" ng-click="ticketVm.openModal('ticket/add-state-modal.html')"
                    required ng-class="{'input-error': (ticketVm.ticketForm.$submitted || ticketVm.ticketForm.state.$dirty) && ticketVm.ticketForm.state.$invalid}">
                    <div class="input-label">
                        {{ticketVm.ticketFormDetails.vehicle.licenseState || 'State'}}
                    </div>
                </label>
                <span ng-show="(ticketVm.ticketForm.$submitted || ticketVm.ticketForm.state.$dirty) && ticketVm.ticketForm.state.$invalid"
                    class="assertive small-text padding-top-4 block" placeholder="{{ '.STATE' | translate }}" translate=".VALID.STATE_REQ">Please select state</span>
                <div class="row no-padding">
                    <div class="col col-50">
                        <!-- SELECT MAKE -->
                        <label class="item item-input item-select" name="make" ng-model="ticketVm.ticketFormDetails.vehicle.make" ng-click="ticketVm.openModal('ticket/add-make-modal.html')"
                            required ng-class="{'input-error': (ticketVm.ticketForm.$submitted || ticketVm.ticketForm.make.$dirty) && ticketVm.ticketForm.make.$invalid}">
                            <div class="input-label">
                                {{ticketVm.ticketFormDetails.vehicle.make.code  || 'Select Make'}}
                            </div>
                        </label>
                        <span ng-show="(ticketVm.ticketForm.$submitted || ticketVm.ticketForm.make.$dirty) && ticketVm.ticketForm.make.$invalid"
                            class="assertive small-text padding-top-4 block" translate=".VALID.MAKE_REQ">Please select make</span>
                    </div>
                    <div class="col col-50 col-last">
                        <!-- SELECT MODEL -->
                        <!-- FYI no validation on select model -->
                        <label class="item item-input item-select" ng-model="ticketVm.ticketFormDetails.vehicle.model" ng-click="ticketVm.openModal('ticket/add-model-modal.html')">
                            <div class="input-label">
                                {{ticketVm.ticketFormDetails.vehicle.model.fulldescription || 'Select Model'}}
                            </div>
                        </label>
                    </div>
                </div>
                <!-- SELECT COLOR -->
                <!-- FYI no validation on color -->
                <label class="item item-input item-select" ng-model="ticketVm.ticketFormDetails.vehicle.color" ng-click="ticketVm.openModal('ticket/add-color-modal.html')">
                    <div class="input-label">
                        {{ticketVm.ticketFormDetails.vehicle.color.description || 'Vehicle Color'}} <i class="icon ion-record" style="color:#{{ticketVm.ticketFormDetails.vehicle.color.hex}}"></i>
                    </div>
                </label>
                <!-- VIOLATION ZONE -->
                <label class="item item-input item-select" name="zone" ng-model="ticketVm.ticketFormDetails.zone" ng-click="ticketVm.openModal('ticket/add-zone-modal.html')"
                    ng-class="{'input-error': (ticketVm.ticketForm.$submitted || ticketVm.ticketForm.zone.$dirty) && ticketVm.ticketForm.zone.$invalid}">
                    <div class="input-label">
                        {{ticketVm.ticketFormDetails.zone.label || 'Violation Zone'}}
                    </div>
                </label>
                <span ng-show="(ticketVm.ticketForm.$submitted || ticketVm.ticketForm.zone.$dirty) && ticketVm.ticketForm.zone.$invalid"
                    class="text-center assertive padding-top-4 block" translate=".VALID.ZONE_REQ">Please select zone</span>
                <!-- ADD VIOLATION -->
                <!--           <div class="item item-input violation-comments" ng-click="ticketVm.openModal('ticket/add-violation-modal.html')" ng-class="{'input-error':(ticketVm.ticketForm.$submitted && !ticketVm.selection.length)}">
                    <span translate=".ADD_VIOLATION">Add Violation</span>
                    <i class="icon ion-add text-right" ></i>
                </div> -->
                <div class="button button-full button-royal button-outline icon-right ion-plus" ng-click="ticketVm.openModal('ticket/add-violation-modal.html')"
                    translate=".ADD_VIOLATION">
                    Add Violation
                </div>

                <span ng-show="(ticketVm.ticketForm.$submitted && !ticketVm.selection.length)" class="assertive small-text padding-top-4 block"
                    translate=".VALID.VIOLATION_REQ">Please Select at least one violation</span>

                <div class="list card assertive" ng-repeat="selection in ticketVm.selection">
                    <a class="item">
                        <i class="icon ion-close-dark" ng-click="ticketVm.removeSelection(selection)"></i>
                        <span>{{selection.label}}</span>
                    </a>
                </div>
                <!-- INTERNAL COMMENT -->
                <!--              <div class="item item-input violation-comments" ng-click="ticketVm.openModal('ticket/internal-comments.html')">
                    <span translate=".INTERNAL_COMMENT">Internal Comment</span>
                    <i class="icon ion-add"></i>
                </div> -->
                <div class="button button-full button-royal button-outline icon-right ion-plus" ng-click="ticketVm.openModal('ticket/internal-comments.html')"
                    translate=".INTERNAL_COMMENT">
                    Internal Comment
                </div>

                <div class="list card assertive" ng-repeat="selection in ticketVm.ticketFormDetails.comments.private">
                    <a class="item">
                        <i class="icon ion-close-dark" ng-click="ticketVm.removeComments(ticketVm.ticketFormDetails.comments.private,selection)"></i>
                        <span>{{selection}}</span>
                    </a>
                </div>
                <!-- EXTERNAL COMMENT -->
                <!--           <div class="item item-input violation-comments" ng-click="ticketVm.openModal('ticket/external-comments.html')">
                    <span translate=".EXTERNAL_COMMENT">External Comment</span>
                    <i class="icon ion-add" ></i>
                </div> -->
                <div class="button button-full button-royal button-outline icon-right ion-plus" ng-click="ticketVm.openModal('ticket/external-comments.html')"
                    translate=".EXTERNAL_COMMENT">
                    External Comment
                </div>

                <div class="list card assertive" ng-repeat="selection in ticketVm.ticketFormDetails.comments.public">
                    <a class="item">
                        <i class="icon ion-close-dark" ng-click="ticketVm.removeComments(ticketVm.ticketFormDetails.comments.public,selection)"></i>
                        <span>{{selection}}</span>
                    </a>
                </div>
                <!-- FINE AMOUNT -->
                <div class="row no-padding">
                    <div class="col col-50">
                        <div class="item item-input">
                            <span translate=".FINE_AMOUNT">Fine Amount</span>
                            <input class="fine-amount" type="text" ng-readonly="true" ng-model="ticketVm.ticketFormDetails.fineTotal" placeholder="Fine">
                        </div>
                    </div>
                    <!-- TOWED VEHICLE -->
                    <div class="col col-50 col-last">
                        <div class="item item-input no-border">
                            <span translate=".TOWED_VEHICLE">Towed Vehicle?</span>
                            <ion-checkbox ng-model="ticketVm.ticketFormDetails.towed"></ion-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PHOTO EVIDENCE -->
            <div class="reps hor-padding-16">
                <span class="royal" translate=".ADD_PHOTO">Add Photo Evidence</span>
                <div class="images-list">
                    <ion-scroll direction="x">
                        <a type="button" ng-click="ticketVm.getPhoto()">
                            <img class="image-list-thumb ticket-images" ng-src="../img/app-camera-icon.png" />
                        </a>
                        <div class="image violation-image" ng-repeat="img in ticketVm.ticketFormDetails.images" ng-click="ticketVm.removeImage($index)">
                            <i class="icon ion-close-dark"></i>
                            <img class="image-list-thumb ticket-images" ng-src="{{img.data}}" />
                        </div>
                    </ion-scroll>
                </div>
                <span class="stable small-text">Max 4 Photos</span>
            </div>

            <div class="row text-center">
                <div class="col"><button class="button button-full button-dark" type="button" ng-click="ticketVm.confirmClearAll()" translate=".BTN_CLEAR_ALL">CLEAR ALL</button></div>
                <div class="col"><button class="button button-full button-calm" type="button" ng-click="ticketVm.submitTicketForm(ticketVm.ticketFormDetails)"
                        translate=".BTN_COMPLETE">COMPLETE</button></div>
            </div>
        </form>
    </ion-content>
</ion-view>