<ion-bottom-sheet-view translate-namespace="RESERVATIONS" class="reservation-action">
    <ion-content>
        <div class="list">
            <button class="bottom-sheet-close button-icon icon ion-android-close" ng-click="closeModal()"></button>
        </div>
        <div class="list">
            <a class="item item-icon-left" ui-sref="tab.newticket({ticketData: vm.ticketDetails})" ng-click="closeModal()">
                <i class="icon ion-plus-circled calm"></i> Issue Ticket
                <span class="assertive item-note">
                    <b>{{vm.ticketDetails.ticket.vehicle.licensePlate}}</b>
                </span>
            </a>
        </div>
    </ion-content>
</ion-bottom-sheet-view>